# Bienvenidos al seguimiento de Ánalisis de datos con Python.

##### En JN tenemos modo comando y modo edicion.
* Una celda markdown (de texto), muestra el texto estilizado al ser corrida
* Una celda de código corre el código que contiene y muestra el output debajo

##### Buenas practicas de como llamar a las variables
- var_1
- variable_2
- variable_dos
- variable_nueva_3
- esta_es_una_variable_nueva

##### Operaciones númericas
- Suma: +
- Resta: -
- Multiplicación: *
- División: /
- Exponente: **

Inputs y Outputs
if var_1 > var_2:
    print("OK")
else:
    print("ERROR")

In [21]:
var_1 = 4
var_2 = 54
var_3 = 23
var_4 = 89

In [22]:
var_1 + var_2

58

In [23]:
var_2 - var_4

-35

In [24]:
var_3 * var_1

92

In [25]:
var_4 / var_2

1.6481481481481481

In [26]:
var_2 ** var_1

8503056

In [27]:
print(var_1 + var_2)
print(var_3 - var_4)
print(var_2 * var_2)

58
-66
2916

##### Tipos de datos en Python
- int => números enteros
- float => números decimales
- string => secuencias de caracteres (texto)
- boolean => booleanos (True o False)

In [29]:
# Este es un número entero

var_int = 4598

print(var_int)
print(type(var_int))
print("\n")

# Este es un número decimal

var_float = 369.432

print(var_float)
print(type(var_float))
print("\n")

# Esta es una string

var_string = "Soy una string"

print(var_string)
print(type(var_string))
print("\n")

# Este es un booleano

var_bool = True

print(var_bool)
print(type(var_bool))
print("\n")

4598
<class 'int'>


369.432
<class 'float'>


Soy una string
<class 'str'>


True
<class 'bool'>

##### Interpolación de Strings

Las Strings pueden contener información muy relevante dentro de nuestros conjuntos de datos (como nombres de personas, descripciones de procesos, categorías, etc). Por lo pronto, vamos a utilizar nuestras Strings para imprimir anotaciones en nuestros **outputs**.

In [30]:
var_1 = 15.3
var_2 = 23.4

print("Suma de var_1 y var_2")
print(var_1 + var_2)

Suma de var_1 y var_2
38.7

Pero a veces resulta necesario o deseable interpolar el valor de la variable dentro de dicha string. Para eso utilizamos las llamadas `f-strings`. El formato de una f-string es el siguiente:
`f"Esto es texto {esto_es_una_variable} esto es más texto"`

Escribiendo una `f` antes de las comillas le indicamos a Python que lo que pongas dentro de las llaves (`{}`) será código de Python. En este caso, una variable asignada previamente. 

Ahora podemos hacer lo siguiente:

In [31]:
var_3 = 43
var_4 = 24.3

suma = var_3 + var_4

print(f'La suma de var_3 y var_4 es: {suma}')

La suma de var_3 y var_4 es: 67.3

In [32]:
print(f'La suma de {var_3} y {var_4} es: {var_3 + var_4}')

La suma de 43 y 24.3 es: 67.3

##### Booleanos y operadores de comparación

- Mayor que: > 
- Mayor o igual que: >=
- Menor que: <
- Menor o igual que: <=
- Igual que: ==<br>
- No igual (distinto) que: !=

In [33]:
var_1 = 34
var_2 = 12
var_3 = 23.24
var_4 = 23.56
var_5 = "OK"
var_6 = "ERROR"
var_7 = True
var_8 = False

In [43]:
# 34 > 12
var_1 > var_2

True

In [44]:
# 34 < 12
var_1 < var_2

False

In [45]:
# 23.24 < 23.56
var_3 < var_4

True

In [46]:
# 23.24 <= 23.24
var_3 <= var_3

True

In [47]:
# 34 >= 23.56
var_1 >= var_4

True

In [49]:
# "Ok" == "Error" igual que
var_5 == var_6

False

In [50]:
# "Ok" =! "Error" es diferente que
var_5 != var_6

True

In [52]:
# True == False
var_7 == var_8

False

In [51]:
# True == True
var_7 == var_7

True